altgraph==0.17.4 ; python_full_version == "3.9.16"
importlib-metadata==6.8.0 ; python_full_version == "3.9.16"
macholib==1.16.3 ; sys_platform == "darwin" and python_full_version == "3.9.16"
packaging==23.2 ; python_full_version == "3.9.16"
pefile==2023.2.7 ; sys_platform == "win32" and python_full_version == "3.9.16"
pyinstaller-hooks-contrib==2023.10 ; python_full_version == "3.9.16"
pyinstaller==6.1.0 ; python_full_version == "3.9.16"
pyqt5-qt5==5.15.11 ; python_full_version == "3.9.16"
pyqt5-sip==12.13.0 ; python_full_version == "3.9.16"
pyqt5==5.15.10 ; python_full_version == "3.9.16"
pywin32-ctypes==0.2.2 ; sys_platform == "win32" and python_full_version == "3.9.16"
setuptools==68.2.2 ; python_full_version == "3.9.16"
zipp==3.17.0 ; python_full_version == "3.9.16"
