altgraph==0.17.4 ; python_version >= "3.9" and python_version < "3.10"
importlib-metadata==6.8.0 ; python_version >= "3.9" and python_version < "3.10"
macholib==1.16.3 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "darwin"
packaging==23.2 ; python_version >= "3.9" and python_version < "3.10"
pefile==2023.2.7 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "win32"
pyinstaller-hooks-contrib==2023.10 ; python_version >= "3.9" and python_version < "3.10"
pyinstaller==6.1.0 ; python_version >= "3.9" and python_version < "3.10"
pyqt5-sip==12.13.0 ; python_version >= "3.9" and python_version < "3.10"
pyqt5==5.14.2 ; python_version >= "3.9" and python_version < "3.10"
pywin32-ctypes==0.2.2 ; python_version >= "3.9" and python_version < "3.10" and sys_platform == "win32"
setuptools==68.2.2 ; python_version >= "3.9" and python_version < "3.10"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.10"
